<div class="container mt-4">
  <div class="row">
    <h3>Lista de estudiantes</h3>
  </div>
  <button class="btn btn-primary" (click)="toogle()">Toogle</button>
  <br>
  <table class="table mt-3" *ngIf="listStudents.length > 0 && mostrar">
    <thead>
      <th>Numero</th>
      <th>Nombre</th>
      <th>Estado</th>
    </thead>
    <tbody>
      <tr *ngFor="let estudiante of listStudents, let i = index" [ngSwitch]="estudiante.estado">
        <td>{{i+1}}</td>
        <td>{{estudiante.nombre}}</td>
        <td>
          <span *ngSwitchCase="'Regular'" class="badge bg-success">
            {{estudiante.estado}}
          </span>
          <span *ngSwitchCase="'Nelson'" class="badge bg-secondary">
            {{estudiante.estado}}
          </span>
          <span *ngSwitchCase="'Libre'" class="badge bg-danger">
            {{estudiante.estado}}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  <h3 *ngIf="listStudents.length === 0">No hay registros para mostrar</h3>
</div>